html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #313131;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}

.content-frame {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../img/header-bg-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__topbar {
  padding: 15px;
  background-color: #631e1e;
}

.content-frame--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.logo {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
}

.logo__span {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #ffffff;
}

.contacts__address {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
}

.contacts__telephone-box {
  margin-top: 10px;
}

.contacts__telephone {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}
.contacts__telephone:hover {
  color: #ffee00;
}

.slider {
  margin: 0 auto;
  height: 450px;
  display: flex;
  justify-content: center;
  max-width: 1024px;
}

.slider__side {
  width: 50px;
}

.slider__button {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border: none;
  transition: all 0.3s ease;
  outline: none;
}

.slider__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.slider__image {
  width: 100%;
  height: 450px;
}

.navigation {
  padding: 25px 0;
  background-color: #631e1e;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation__item:not(:last-child) {
  margin-right: 100px;
}

.navigation__link {
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
.navigation__link:hover {
  color: #ffee00;
}

.main {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.categories {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}

.categories__item {
  cursor: pointer;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease;
}

.categories__item:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}

.goods {
  width: 55%;
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 1px solid #ffffff;
}

.goodsItem {
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  transition: 0.2s ease;
}

.goodsItem:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}

.data {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}

.goodsDescription {
  max-width: 500px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
  line-height: 20px;
}

#form-button {
  margin-top: 25px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
  background-color: #631e1e;
  cursor: pointer;
  transition: all 0.2s ease;
}

#form-button:hover {
  background-color: #ffee00;
}

.form__container {
  display: none;
}

.display--block {
  display: block;
  padding: 15px;
  max-width: 270px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #631e1e;
}

.mainForm__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: normal;
  text-decoration: none;
  color: #000000;
}

.button {
  width: 100%;
  height: 35px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff9100;
  transition: all 0.5s ease;
  font-weight: 900;
}
.button:hover {
  background-color: #ffee00;
}

.form-input {
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  transition: all 0.5s ease;
}
.form-input:focus {
  background-color: #cec67b;
}

.footer {
  padding: 20px 0 0 0;
  background-color: #000000;
}

.content-frame--footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.info__item {
  margin-top: 10px;
}

.info__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: normal;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}
.info__link:hover {
  color: #ffee00;
}

.footer__copyrights {
  margin-top: 40px;
  padding: 30px;
  background-color: #631e1e;
}

.footer__rights {
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 20px;
  text-transform: normal;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 810px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media (max-width: 610px) {
  .navigation__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 455px) {
  .navigation__item:not(:last-child) {
    margin-right: 1px;
  }

  .navigation__link {
    padding: 10px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
