$color-01: #313131; // background color
$color-02: #ffffff; // main text color
$color-03: #1f1f1f; // item hover color
$color-04: #631e1e; // button backgound color #4f6828
$color-05: #ffee00; // button hover color
$color-06: #9e9e9e; // form background color
$color-07: #000000; // main text color